.about {
    
  @media #{$small-up} {     
    // 0 - 320px      
    padding-bottom: 0;
    ul li {
      margin: 3px 0;
      font-size: 14px;
    }
    h1 { text-align: left; }
    h6 {
      margin-bottom:10px;
      span {
        display:block;
        margin-top:4px;
        font-size:14px;
      }
    }      
  }
  @media #{$mobile-view} {
    // 321 - 599px
    //padding-bottom:20px;
  }
  @media #{$large-up} {
    // 600 - 768px   
      padding-top: 0;
      
  }
  @media #{$xlarge-up} {
    // 769 - 1024px
      padding-top: 10px;
      padding-bottom: 10px;
  }
  @media #{$xxlarge-up} {
    // 1025 - 99999px
  }
}
