/* Links & Buttons
================================================== */
a {
    color: $color-link;
    text-decoration: none;
    outline: 0;

    &:visited {
        color: $color-link;
    }

    &:hover,
    &:focus {
        color: $color-hover;
    }

    &.tel {
        &:hover {
            color: $color-primary;
            border-bottom: 1px solid $color-secondary;
        }

        @include breakpoint(large up) {
            pointer-events: none;
            color: $color-primary;
        }
    }
}

p a {
    border-bottom: 1px solid transparent;
    line-height: inherit;

    &:hover {
        color: $color-hover;
        border-bottom: 1px solid $color-hover;
    }
}

.dark p a {
    &:hover {
        color: #fff;
        border-bottom: 1px solid #fff;
    }
}


/* #Buttons
================================================== */

input[type="button"],
input[type="submit"],
button {
    -webkit-box-align: center;
    text-align: center;
    cursor: pointer;
    /*padding: 0;*/
    border: none;
    border-image: none;
    -webkit-appearance: none;
    outline:0;
}

.btn {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 16px;
    width: auto;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;      
    color: #fff;
    background-color: $color-button;
    @include rounded(2px);

    &:hover {
        @include text-shadow();
        color:#fff;
        background-color: $color-button-hover;
        @include box-shadow(0 1px 1px rgba(0, 0, 0, .35));
    }

    &:active {
        top: 1px;
    }
}

/* #Icons
================================================== */

[class^="icon-"],
[class*=" icon-"] {
    &:before {
        font-family: "fontello";
        font-style: normal;
        font-weight: normal;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        width: auto;
        margin: 0;
        text-align: center;
        vertical-align: middle;
        /* opacity: .8; */
        /* For safety - reset parent styles, that can break glyph codes*/
        font-variant: normal;
        text-transform: none;
        /* fix buttons height, for twitter bootstrap */
        line-height: 1;
        /* Animation center compensation - margins should be symmetric */
        /* remove if not needed */
        /* you can be more comfortable with increased icons size */
        /* font-size: 120%; */
        /* Font smoothing. That was taken from TWBS */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        /* Uncomment for 3D effect */
        /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    }

    &.r:before {
        margin: 0 0 0 10px;
    }
}

.icon-email:before {
    content: '\e801';
    margin-right: 15px;
}

.icon-twitter:before {
    content: '\e802';
}

.icon-instagram:before {
    content: '\e803';
}

.icon-vimeo:before {
    content: '\e804';
}

.icon-istock:before {
    content: '\e805';
}

.icon-500px:before {
    content: '\e806';
    font-size: 2.25em;
}

.icon-right:before {
    content: '\e807';
}

.icon-left:before {
    content: '\e808';
}

.icon-spin:before {
    content: '\e809';
}

.social {
    margin: 10px auto 20px auto;

    li {
        display: inline-block;
        margin: 0 4px;

        a {
            padding: 11px;
            font-size: 20px;
            color: $color-grey;

            &:hover {
                color: $color-hover;
            }
        }
    }

    @include breakpoint(large up) {
        li a {
            padding: 20px;
        }
    }
}

@include breakpoint(large up) {
    a.line {
        position: relative;
        display: inline-block;
        width: auto;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 0;
            height: 2px;
            background-color: $color-primary;
            @include transition(width 180ms ease-in-out);
        }

        &:hover {
            background: none;

            &:after {
                width: 100%;
            }
        }
    }
}