  /* Footer Styles
================================================================ */
  
  footer {
      @media #{$small-up} {
          // 0 - 320px
          //      z-index:0;
          //      position: fixed;   
          //      bottom:20px;
          //      width: 100%;
          color: $color-grey;
          font-weight: $normal_weight;
          //border-bottom:5px solid $color-drk;
          background: #fff;
          .border-left {
              padding: 30px 0 0 0;
          }
          .bottom {
              padding-top: 20px;
              padding-bottom: 20px;
              text-align: center;
              font-weight: $normal_weight;
              .copyright p {
                  margin: 10px auto;
                  font-size: 12px;
                  text-transform: uppercase;
              }
          }
          .quicklinks {
              margin: 5px auto 10px auto;
              display: block;
              li {
                  display: inline-block;
                  margin: 6px 0;
                  &:after {
                      content: '//';
                      margin: 0 12px;
                  }
                  &:last-of-type:after {
                      content: '';
                      margin: 0;
                  }
                  a {
                      margin: 0;
                      &.current {
                          color: $color-grey;
                          pointer-events: none;
                          &:hover {
                              pointer-events: none;
                          }
                      }
                      &.active {
                          color: $color-primary;
                          border-bottom: 1px solid $color-primary;
                      }
                  }
              }
          }
      }
      @media #{$medium-up} {
          // 321 - 599px
      }
      @media #{$large-up} {
          // 600 - 768px    
          .bottom {
              padding-top: 50px;
              padding-bottom: 55px;
          }
          .quicklinks {
              margin: 10px auto;
              ul {
                  display: inline-block;
                  li {
                      display: inline-block;
                      margin: 6px 0;
                      &:after {
                          content: '//';
                          margin: 0 10px;
                      }
                  }
                  &.a li {
                      &:last-of-type:after {
                          content: '//';
                          margin: 0 10px;
                      }
                  }
              }
          }
      }
      @media #{$xlarge-up} {
          // 769 - 1024px
      }
      @media #{$xxlarge-up} {
          // 1025 - 99999px
          //    .contactarea,
          //    .bottom {
          //      padding-left: 0;
          //      padding-right: 0;
          //    }
      }
  }