  /* Footer Styles
================================================================ */
  footer {
      padding-top: 20px;
      padding-bottom: 20px;
      width: 100%;
      color: $color-grey;
      font-weight: $normal;
      text-align: center;
      border-top: 1px solid $color-border;
      background: #fff;

      .copyright p {
          margin: 10px auto;
          font-size: 12px;
          text-transform: uppercase;
      }

      .quicklinks {
          margin: 5px auto 10px auto;
          display: block;

          li {
              display: inline-block;
              margin: 6px 0;
              color: $color-text-light;

              &:after {
                  content: '//';
                  margin: 0 12px;
              }

              &:last-of-type:after {
                  content: '';
                  margin: 0;
              }

              a {
                  margin: 0;

                  &.current {
                      color: $color-grey;
                      pointer-events: none;

                      &:hover {
                          pointer-events: none;
                      }
                  }

                  &.active {
                      color: $color-primary;
                      border-bottom: 1px solid $color-primary;
                  }
              }
          }
      }

      @include breakpoint(large up) {
          // 600 - 768px  
          padding-top: 28px;
          padding-bottom: 40px;

          .quicklinks {
              margin: 10px auto;

              ul {
                  display: inline-block;

                  li {
                      display: inline-block;
                      margin: 6px 0;

                      &:after {
                          content: '//';
                          margin: 0 10px;
                      }
                  }

                  &.a li {
                      &:last-of-type:after {
                          content: '//';
                          margin: 0 10px;
                      }
                  }
              }
          }
      }
  }