/* Header & Navigation Styles
================================================================ */
header#masthead {
    position: relative;
    z-index: 10;
    display: inline-block;
    overflow: visible;
    padding: 0;
    width: 100%;
    height: 80px;
    vertical-align: bottom;
    border-bottom: 1px solid $color-border;
    background: #fff;

    &.open {
        #nav-icon {
            //background-color: $color-border;

            span {
                background-color: transparent;

                &:before {
                    top: 0;
                    background-color: $color-button-hover;
                    @include transform(rotate(45deg));
                }

                &:after {
                    top: 0;
                    width: 100%;
                    background-color: $color-button-hover;
                    @include transform(rotate(-45deg));
                }
            }
        }

        .primary-nav ul {
            visibility: visible;
            @include opacity(1);
            height: auto;

            li {
                height: 60px;
            }
        }
    }

    .logo {
        z-index: 2;
        position: relative;
        float: left;
        margin: 0;
        height: 80px;

        a {
            display: inline-block;
            padding: 20px 24px 18px 16px;
            overflow: hidden;
            width: auto;
            text-align: center;
            vertical-align: bottom;

            .upheaval {
                display: block;
                float: left;
                margin-right: 10px;
                padding-right: 10px;

                img {
                    width: 42px;
                    height: 42px; //specify for IE            
                }
            }

            .name {
                display: inline-block;
                color: $color-primary;
                font-size: 24px;
                font-weight: $bold;

                .title {
                    display: block;
                    margin-top: 2px;
                    color: $color-grey;
                    font-size: 14px;
                    font-weight: $thin;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
            }
        }
    }

    #nav-icon {
        visibility: visible;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        width: 70px;
        height: 80px;
        text-align: center;
        border-left: 1px solid $color-border;
        background-color: transparent;

        span {
            position: relative;
            display: inline-block;
            height: 2px;
            width: 24px;
            background-color: $color-dark;
            @include transition(background-color 180ms ease-in);

            &:after,
            &:before {
                content: '';
                position: absolute;
                display: inline-block;
                left: 0;
                height: 2px;
                width: 100%;
                width: 24px;
                background-color: $color-dark;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                @include transform(translateZ(0));
                @include transition(transform 180ms ease-in);
            }

            &:before {
                top: -5px;
            }

            &:after {
                top: 5px;
                width: 18px;
            }
        }

    }


    .primary-nav {
        position: relative;
        z-index: 1;
        padding: 0;
        margin: auto;

        ul {
            visibility: hidden;
            @include opacity(0);
            overflow: hidden;
            display: block;
            width: 100%;
            height: 0;
            text-align: left;
            font-size: 0;
            /*eliminates space between list items*/
            line-height: 0;
            list-style: none;
            //border-top: 1px solid $color-border;
        }

        li {
            float: left;
            position: relative;
            width: 100%;
            height: 0;
            outline: 0;
            border: none;
            line-height: 0;
            @include transition(height 360ms ease-in-out);

            // &:first-of-type a {
            //     border-top: none;
            // }

            a {
                position: relative;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                font-size: 16px;
                font-weight: $bold;
                text-decoration: none;
                text-align: center;
                line-height: 1;
                color: $color-dark;
                border-bottom: 1px solid $color-border;
                background-color: #fff;

                span {
                    display: block;
                    padding: 6px 0;
                    border: none;
                }

                &:hover {
                    color: #fff;
                    background: $color-primary;
                    border-color: $color-border;
                }

                &.current {
                    font-weight: $thin;
                    color: $color-grey;
                    background: $color-egg;
                    border-color: $color-border;
                    pointer-events: none;

                    &:hover {
                        pointer-events: none;
                    }
                }

                &.active {
                    color: $color-primary;
                    background: #f9f9f9;
                }
            }
        }
    }


    @include breakpoint(medium up) {
        .banner {
            display: block;
        }

        .logo a {
            .upheaval {
                margin-right: 10px;
                padding-right: 10px;

                img {
                    width: 42px;
                    height: 42px; //specify for IE            
                }
            }

            .name {
                text-align: left;
                margin-top: 2px;
                font-size: 26px;

                .title {
                    margin: 0;
                    font-size: 13px;
                    letter-spacing: .18em;
                    //color: $color-grey; 
                }
            }
        }

    }

    @include breakpoint(large down) {
        .grid-container {
            padding: 0;
        }
    }

    @include breakpoint(large up) {
        .logo a {
            padding: 20px 24px 18px 24px;
        }
    }

    @include breakpoint(xlarge up) {
        padding: 0;
        height: 110px;

        .grid-container {
            position: relative;
            height: 100%;
        }

        .logo a {
            pointer-events: all;
            display: block;
            overflow: hidden;
            padding: 24px;
            text-align: left;

            .upheaval {
                display: block;

                img {
                    width: 60px;
                    height: 60px; //specify for IE
                    @include transition(margin 260ms cubic-bezier(0.64, 0.57, 0.67, 1));
                }
            }

            .name {
                margin-top: 10px;
                font-size: 32px;

                .title {
                    font-size: 14px;
                    letter-spacing: .28em;
                }
            }

            hr {
                width: 90%;
            }

            &:hover {
                .upheaval img {
                    margin-top: -7px;
                }

                .title {
                    color: $color-dark;
                }
            }
        }


        #nav-icon {
            visibility: hidden;
            display: none;
        }

        .primary-nav {
            float: right;
            margin-right: 16px;
            height: 100%;

            ul {
                visibility: visible;
                @include opacity(1);
                height: 100%;
                border: 0;
            }

            li {
                width: auto;
                height: 100%;

                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0 24px;
                    font-size: 18px;
                    color: $color-dark;
                    border: none;

                    span {
                        position: relative;
                        display: inline-block;
                        margin-top: -8px;
                        padding: 0;

                        &:after {
                            content: '';
                            position: absolute;
                            bottom: -8px;
                            left: 0;
                            width: 0;
                            height: 2px;
                            background-color: $color-primary;
                            @include transition(width 180ms ease-in-out);
                        }
                    }

                    &:hover {
                        color: $color-primary;
                        background-color: transparent;

                        span:after {
                            width: 100%;
                        }
                    }

                    &.current {
                        color: $color-grey;
                        background: none;
                        pointer-events: none;

                        &:hover {
                            pointer-events: none;
                        }

                        span:after {
                            width: 100%;
                            height: 1px;
                            background-color: $color-grey;
                        }
                    }

                    &.active {
                        color: $color-primary;
                        background: none;
                    }

                }
            }
        }
    }

    @include breakpoint(xxlarge up) {

        .logo a {

            .name {
                font-size: 30px;

                .title {
                    font-size: 15px;
                    letter-spacing: .17em;
                }
            }
        }

    }
}