/* Page Styles
================================================================ */
.page {
    overflow: hidden;
    padding-top: 28px;
    padding-bottom: 28px;
    background: #fff;

    ul.skills {
        margin-top: 16px;

        li {
            margin-bottom: 8px;
        }
    }

    .sidebar {
        margin-top: 16px;
    }

    @include breakpoint(medium up) {
        // 321 - 599px
        padding-top: 32px;
        padding-bottom: 32px;
    }

    @include breakpoint(large up) {
        // 600 - 768px
        padding-top: 36px;
        padding-bottom: 36px;
    }

    @include breakpoint(xlarge up) {
        // 769 - 1024px
        padding-top: 40px;
        padding-bottom: 40px;
    }

    @include breakpoint(xxlarge up) {
        // 1025 - 99999px
        padding-top: 48px;
        padding-bottom: 48px;
    }
}



.partners {
    margin-top: 28px;
    // padding-top: 0px;
    // padding-bottom: 20px;
    text-align: center;
    border-top: 1px solid $color-border;

    .desc {
        margin-bottom: 12px;
    }

    figure {
        position: relative;
        display: block;
        float: left;

        img {
            @include transition(opacity 180ms ease-in-out);
        }

        a {
            display: block;
            margin: 10px auto;
            padding: 10px 0;
        }
    }
}

@include breakpoint(large up) {
    .sidebar {
        margin-top: 0;
    }

    .partners {

        figure {
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                width: auto;
                height: 50%;
                border: none;
                border-right: 1px solid $color-border;
            }

            &:nth-of-type(4n):after {
                content: none;
            }

            a {
                padding: 10px 35px;
            }
        }
    }
}

@include breakpoint(xlarge up) {

    .partners {
        margin-top: 36px;

        a:hover img {
            @include opacity(0.5);
        }
    }
}

@include breakpoint(xxlarge up) {

    .partners {
        margin-top: 44px;

        .desc {
            text-align: left;
        }
    }
}