/* Page Styles
================================================================ */

.page {
    @media #{$small-up} {
        // 0 - 320px
        //    z-index:1;
        //    position: relative;
        //    margin-bottom:497px;
        overflow: hidden;
        padding: 20px 0;
        background: #fff;
        //border-top: 1px solid $color-border;
        .sidebar {
            //margin-top: 15px;
            padding-top: 15px;
            //border-top: 1px solid $color-border;            
        }
        .photo img {
            width: 100%;
            height: auto;
            //@include rounded();
        }
    }
    @media #{$medium-up} {
        // 321 - 599px
    }
    @media #{$large-up} {
        // 600 - 768px
        padding: 20px 10px;
        .sidebar {
            padding-top: 0;
            border: none;
        }
    }
    @media #{$xlarge-up} {
        // 769 - 1024px
        padding: 50px 25px;
    }
    @media #{$xxlarge-up} {
        // 1025 - 99999px
    }
}

@media #{$small-up} {    
    nav.next {
        padding: 0 30px 60px 30px;
        background: #fff;
    }
    .skills {
        h5 {
            margin-bottom: 15px;
            line-height: 1.5;
            span {
                display: block;
                color: $color-grey;
                font-size: .875em;
            }
        }
    }
    .partners,
    .tech {
        //padding: 20px 0 30px 0;
        background: #fff;
        .desc {
            padding: 15px 0;
            h3 {
                //color:$color-secondary;
                text-align: center;
            }
            p {
                margin: 10px 0 0 0;
                text-align: center;
            }
        }
        figure {
            position: relative;
            display: block;
            float: left;
            h6 {
                @include opacity(0);
                display: block;
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                -webkit-transform: translateY(-51%) translateX(-50%);
                -moz-transform: translateY(-51%) translateX(-50%);
                -ms-transform: translateY(-51%) translateX(-50%);
                transform: translateY(-51%) translateX(-50%);
                color: $color-grey;
                font-size: 14px;
                font-family: $font;
                font-weight: $bold_weight;
                text-align: center;
                text-transform: uppercase;
                @include transition(opacity 180ms ease-in-out);
            }
            img {
                width: 100%;
                height: auto;
                @include transition(opacity 180ms ease-in-out);
            }
            a {
                display: block;
                margin: 10px auto;
                padding: 10px 0;
                &:hover {
                    h6 {
                        @include opacity(1);
                    }
                    img {
                        @include opacity(.05);
                    }
                }
            }
        }
    }
}



@media #{$large-up} {
    .sidebar {
        margin-top: 15px;
    }
    
    .skills {
        h5 span:before {
            content: '//';
            margin-right: 5px;
            //color:$color-drk;
            font-size: .625em;
            vertical-align: middle;
        }
    }
    .partners,
    .tech {
        //    padding-top: 20px;
        //    padding-bottom: 20px;
        //padding: 40px 25px;
        overflow: hidden;
        .desc {
            padding: 20px 0;
            text-align: center;
            p {
                font-size: 14px;
                margin: 5px 0 0 0;
            }
        }
        figure {
            &:after {
                position: absolute;
                top: 50%;
                right: 0;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                width: auto;
                height: 50%;
                content: '';
                border: none;
                border-right: 1px solid $color-border;
            }
            &:nth-of-type(even):after {
                content: none;
            }
            a {
                padding: 10px 35px;
            }
        }
    }
}

@media #{$xlarge-up} {    
    .partners,
    .tech {
        //padding: 40px 25px;
        //.desc { padding: 15px 0; }
        figure {
            &:nth-of-type(even):after {
                content: '';
                border-right: 1px solid $color-border;
            }
            &:last-of-type:after {
                content: none;
            }
        }
    }
}

@media #{$xxlarge-up} {
    .partners,
    .tech {
        .desc {
            text-align: left;
        }
    }
}