/* Photo Grid Styles
================================================================ */

#photo {
  .page { padding: 20px; }
  .thumb:last-child {
    float: left;
  }
  @media #{$small-up} {
    .grid {
      //padding: 10px;
      
    }
    .thumb { 
      padding: 0;
      //border: 4px solid transparent;
      &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }
    .frame {
      position: absolute;
      overflow: hidden;
      width: 100%;
      height: 100%;
      border: 4px solid #fff; 
      background:#fff;
      
      &.notloaded {
        pointer-events: none;
        background:$color-border;
        img {
          @include opacity(0);
        }
      }
      img {
        position: relative;
        width: 100%;
        height: auto;
      }
    }
  }
  @media #{$mobile-view} {
    .grid .row {
      //margin: auto;
    }
  }
  @media #{$large-up} {
    .grid .row {
      //max-width: 100%;
    } 
    .frame { 
      @include transition(transform 120ms linear);

      img {
        @include transform(translateZ(0)); 
      }

      &:hover {
        z-index:10;
        @include transform(scale(1.1) translateZ(0));
        box-shadow: 0px 6px 20px rgba(0,0,0,0.5); 
      }
    }
    
  }
  @media #{$xlarge-only} {

  }
  @media #{$xlarge-up} {
    
  }
  @media #{$xxlarge-up} {}
  @media (min-width: 1280px) {

  }
  @media (min-width: 1600px) {

  }
}