/* Typography
================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font;
    font-weight: $normal;
    color: $color-dark;
}

h1 {
    font-size: 28px;
    font-weight: $thin;
    line-height: 1.15;
    color: $color-ash;
    cursor: default;
}

h2 {
    font-size: 26px;

    span {
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
        color: $color-ash;
        margin-top: 5px;
        display: block;
    }
}

h3 {
    //color: $color-ash;
    font-size: 24px;
    line-height: 1.2;
    margin: 5px 0 15px 0;

    span {
        font-size: .725em;
    }
}

h4 {
    color: $color-ash;
    font-size: 22px;
    font-weight: $thin;
    line-height: 1.25;
    margin: 0;
}

h5 {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 1.5;

    span {
        display: block;
        font-size: 15px;
        font-weight: $thin;
        color: $color-text-normal;
    }
}

h6 {
    font-size: 16px;
}

p {
    margin: 0px 0 15px 0;
    font-size: 16px;
    font-weight: $thin;
    line-height: 1.5em;
}

p img {
    margin: 0;
}

em {
    font-style: italic;
}

strong {
    font-family: $font;
    font-weight: $bold;
}

blockquote {
    display: inline-block;
    margin: 10px auto 20px auto;
    padding: 15px 20px;
    text-align: center;
    border: 1px solid $color-border;
    background: $color-egg;

    h4 {
        position: relative;
        padding: 0 25px;

        &:before {
            position: absolute;
            top: -5px;
            left: 0;
            content: '\201C';
            font-size: 38px;
            color: $color-secondary;
        }

        &:after {
            position: absolute;
            top: -5px;
            right: 0;
            content: '\201D';
            font-size: 38px;
            color: $color-secondary;
        }
    }

    &.hanger {
        position: relative;
        margin: 0;
        padding: 20px 25px;
        float: right;
        width: 100%;
        color: $color-border;
        background: $color-dark;
        border: none;

        //      &:after {
        //        display: block;
        //        position: absolute;
        //        z-index: 2;
        //        top: 0;
        //        left: 0;
        //        width: 400%;
        //        height: 100%;
        //        content: '&nbsp;';
        //        text-indent: -9999px;
        //        background: $color-dark;
        //      }
        h5 {
            position: relative;
            z-index: 3;
            color: $color-border;
            font-size: 18px;
            text-align: left;
            line-height: 1.2;
        }
    }
}

.page-heading {
    display: block;
    padding: 28px 0;
    line-height: 1.35;
    text-align: center;
    border-bottom: 1px solid $color-border;
    background: #fff;

    .title {
        text-align: center;

        a {
            display: inline-block;
            color: $color-primary;
        }
    }
}

.statement {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 1.35;
    text-align: center;
}

.directive {
    display: block;
    padding-top: 28px;
    padding-bottom: 28px;
    line-height: 1.5;
    text-align: center;
    background: $color-dark;

    .call span {
        display: inline-block;
    }

    .action {
        @extend h2;
        cursor: pointer;
        color: #fff;
    }
}

@include breakpoint(large up) {

    // 600 - 768px
    p {
        font-size: 16px;
    }

    .page-heading {
        display: block;
        padding: 48px 0;
        line-height: 1.25;
    }

    .statement {
        padding-top: 40px;
        padding-bottom: 40px;

        .desc h1 {
            font-size: 36px;
        }
    }

    .directive {
        padding-top: 50px;
        padding-bottom: 50px;

        .desc {
            hr {
                margin: 25px auto;
            }

            h3 {
                font-size: 24px;
            }
        }

        a h2 {
            font-size: 28px;
        }
    }
}

@include breakpoint(xlarge up) {

    // 769 - 1024px
    h1 {
        font-size: 36px;
        text-align: left;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }

    .page-heading {
        padding: 60px 0;
    }

    .statement {
        padding-top: 60px;
        padding-bottom: 40px;
    }
}


/* Fix FOUT caused by font-kit loading delay */
.wf-loading {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    nav a,
    ul li,
    figcaption,
    .caption,
    .logo {
        visibility: hidden;
    }

    nav * {
        /*this removes the css transition that appears on new page load*/
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -ms-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
    }
}

.wf-active,
.wf-inactive {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    nav a,
    ul li,
    figcaption,
    .caption,
    .logo {
        visibility: visible;
    }
}