/* Web Grid Styles
================================================================ */

.project {
  //  .page {
  //    padding: 20px;
  //  }
  @media #{$small-up} {
    .intro {
      display: block;
      background: #fff;
      padding-top: 10px;
      //height: calc(100vh - 162px);
      .desc {
        padding-top: 20px;
        padding-bottom: 10px;
        line-height: 1.5em;
        text-align: center;
        h1 {
          color: $color-drk;
          font-size: 28px;
          line-height: 1.25;
        }
      }
    }
  }
  @media #{$large-up} {}
  @media #{$xlarge-up} {
    .page {
      padding: 20px 0 0 0;
    }
    .intro {
      padding: 20px 20px 0 40px;
      .desc {
        padding-top: 40px;
        padding-bottom: 60px;
        text-align: left;
        h1 {
          font-size: 44px;
          line-height: 1.25;
        }
      }
    }
  }
  @media #{$xxlarge-up} {}
  @media (min-width: 1280px) {}
  @media (min-width: 1600px) {}
}
