/* Web Grid Styles
================================================================ */

#web {
  .page {
    padding: 20px;
  }
  .thumb:last-child {
    float: left;
  }
  @media #{$small-up} {
    .statement {
      display: block;
      padding-top: 60px;
      padding-bottom: 60px;
      background: #fff;
      line-height: 1.5em;
      text-align: center;
      .desc {
        h1 {
          margin: 0;
          font-size: 44px;
          font-weight: $light_weight;
          line-height: 1.25;
          text-align: center;
          color: $color-grey;
          a {
            display: inline-block;
            color: $color-primary;
            i {
              display: block;
              margin-top: 5px;
              width: 1%;
              border-top: 2px solid transparent;
              @include transition(all 180ms ease-in-out);
            }
            &:hover {
              background: none;
              i {
                width: 100%;
                border-color: $color-primary;
              }
            }
          }
        }
      }
    }
    .client {
      a {
        position: relative;
        overflow: hidden;
        //width: 48%;
        margin: 0 auto 50px auto;
        padding: 50px;
        border-bottom: 1px solid $color-border;
      }
      &:last-of-type a {
        border: none;
      }
      h5 {
        color: $color-grey;
        font-size: 20px;
        margin-bottom: 30px;
      }
      h2 {
        color: $color-drk;
        font-size: 36px;
        span {
          display: block;
          margin-top: 6px;
          color: $color-grey;
          font-size: .5em;
        }
      }
      p {
        margin-top: 60px;
        color: $color-drk;
      }
      .client-logo {
        padding: 40px 0;
        img {}
      }
      &.statedclearly h2 {
        color: #cb4545;
      }
      &.oregonruns h2 {
        color: #222;
      }
      &.jon-mcmullen h2 {
        color: #112340;
      }
      &.hart-wagner h2 {
        color: #430000;
      }
      &.flexlegal h2 {
        color: #a4cd3d;
      }
      &.lehmann h2 {
        color: #004a65;
      }
    }
  }
  @media #{$mobile-view} {}
  @media #{$large-up} {}
  @media #{$xlarge-only} {}
  @media #{$xlarge-up} {}
  @media #{$xxlarge-up} {}
  @media (min-width: 1280px) {}
  @media (min-width: 1600px) {}
}
