/*!
UPHEAVAL DESIGN
Website URI: https://www.upheavaldesign.com
Description: Design & Photo.
Developer: Jeremiah Deasey
Version: 3.6
{{ UPDATED }}
*/

@font-face {
  font-family: 'fontello';
  src: url('type/fontello.eot?81440800');
  src: url('type/fontello.eot?81440800#iefix') format('embedded-opentype'),
       url('type/fontello.woff?81440800') format('woff'),
       url('type/fontello.ttf?81440800') format('truetype'),
       url('type/fontello.svg?81440800#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font: "adelle-sans", Arial, Helvetica, sans-serif; 

$thin: 100;
$normal: 400;
$bold: 700;

// We are using only a minimal subset of foundation components
@import '../../node_modules/foundation-sites/scss/foundation';
@import 'foundation-settings';

@include foundation-global-styles;
@include foundation-visibility-classes;
//@include foundation-flex-classes; 
@include foundation-xy-grid-classes(
  /* options */
  $base-grid: true,
  $margin-grid: true,
  $padding-grid: true,
  $block-grid: true,
  $collapse: false,
  $offset: false,
  $vertical-grid: false,
  $frame-grid: false  
);

//$mobile-view: "#{$screen} and (max-width:#{upper-bound($medium-range)})";

@import  
'mixins',  
'colors', 
'modifiers',   
'base', 
'grid', 
'forms',
'type',
'btns',
'nav',
'footer',
'page',
'photo',
'modal',
'clients',
'spacing'
;